.widget-dnd {
  margin: 0;
  padding: 0;
  /* margin-top: -5px; */
  font-size: 1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: alpha(white, 0.05); /* track */
}
.widget-dnd > switch slider {
  background: white; /* thumb */
  border-radius: 12px;
}
.widget-dnd > switch:checked > slider {
  background: #f04747;
}

/* Toggles */
.toggle:checked {
  background: @surface1;
}
.toggle:checked:hover {
  background: @surface2;
  /* background: alpha(@theme_selected_bg_color, 0.75); */
}

.right.overlay-indicator {
  all: unset;
}
