.notification {
  border: none;
  box-shadow: none;
  border-radius: 4px;
  background: inherit;
}

.notification button {
  background: transparent;
  border-radius: 0px;
  border: none;
  margin: 0px;
  padding: 0px;
}

.notification-content {
  min-height: 64px;
  margin: 10px;
  padding: 0px;
  border-radius: 0px;
}

.notification-default-action,
.notification-action {
  background: transparent;
  border: none;
}

.notification-default-action {
  border-radius: 4px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  padding: 2px;
  color: @text;
}

/* Notification header */
.summary {
  color: @text;
  font-size: 16px;
  padding: 0px;
}

.time {
  color: @subtext0;
  font-size: 12px;
  text-shadow: none;
  margin: 0px 0px 0px 0px;
  padding: 2px 0px;
}

.body {
  font-size: 14px;
  font-weight: 500;
  color: @subtext1;
  text-shadow: none;
  margin: 0px 0px 0px 0px;
}

.body-image {
  border-radius: 4px;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: @text;
  text-shadow: none;
}
.control-center-list-placeholder,
.notification-group-icon,
.notification-group {
  color: @text;
}

.notification-group > box {
  all: unset;
  background: @mantle;
  padding: 8px;
  margin: 0px;
  border: none;
  border-radius: 4px;
  box-shadow: none;
}

/* actual notification */
.notification-row {
  outline: none;
  transition: all 1s ease;
  background: @base;
  border: 1px solid @crust;
  border-radius: 8px;

  /* The same as hyprland's padding */
  margin-top: 20px;
  margin-right: 20px;
}

.notification-row:focus,
.notification-row:hover {
  box-shadow: none;
}

.control-center-list {
  background: transparent;
}

.control-center-list > row,
.control-center-list > row:focus,
.control-center-list > row:hover {
  background: alpha(currentColor, 0.05);
  border-radius: 8px;
  border: none;
  margin: 0px;
  margin-top: 8px; /* spacing between messages */
  padding: 5px 10px 5px 10px;
  box-shadow: none;
}

.notification-group > box.vertical {
  margin-top: 3px;
}
