@import "./colors.css";
@import "./mpris.css";
@import "./notifications.css";

* {
  font-family: "Product Sans";
  background-clip: border-box;
}

label {
  color: @text;
}

.close-button {
  background: transparent;
  color: transparent;
}

/* Control center */

.control-center {
  /* background: transparent; */
  background: alpha(@crust, 0.65);
  /* background: @theme_bg_color; */
  /* border: 1px solid @surface0; */
  border-radius: 16px;
  /* box-shadow: 0px 0px 2px black; */
}

/* .right.overlay-indicator { */
/*   border: solid 5px red; */
/* } */

.control-center-list > row:last-child {
  padding: 5px 10px 10px 10px;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 0px;
  background: inherit;
  /* background: @theme_bg_color; */
  border-radius: 4px 4px 0px 0px;
  /* border: 1px solid @surface1; */
  border-bottom: none;
}

.widget-title > label {
  margin: 18px 10px;
  font-size: 20px;
  font-weight: 500;
}

.widget-title > button {
  font-weight: 700;
  padding: 7px 3px;
  margin-right: 10px;
  background: transparent;
  color: @text;
  border: none;
  border-radius: 4px;
}
.widget-title > button:hover {
  background: @base;
  /* background: alpha(currentColor, 0.1); */
}

/* Label widget */
.widget-label {
  margin: 0px;
  padding: 0px;
  min-height: 5px;
  background: @mantle;
  /* background: @theme_bg_color; */
  border-radius: 0px 0px 4px 4px;
  /* border: 1px solid @surface1; */
  border-top: none;
}
.widget-label > label {
  font-size: 0px;
  font-weight: 400;
}

/* Menubar */
.widget-menubar {
  background: inherit;
  /* background: @theme_bg_color; */
  /* border: 1px solid @surface1; */
  border-top: none;
  border-bottom: none;
}
.widget-menubar > box > box {
  margin: 5px 10px 5px 10px;
  min-height: 40px;
  border-radius: 4px;
  background: transparent;
}
.widget-menubar > box > box > button {
  background: @mantle;
  /* background: alpha(currentColor, 0.05); */
  min-width: 185px;
  min-height: 50px;
  margin-right: 10px;
  font-size: 14px;
  padding: 0px;
}
.widget-menubar > box > box > button:nth-child(2) {
  margin-right: 0px;
}
.widget-menubar button:focus {
  box-shadow: none;
}
.widget-menubar button:focus:hover {
  background: @base;
  /* background: alpha(currentColor,0.1); */
  box-shadow: none;
}

.widget-menubar > box > revealer > box {
  margin: 5px 10px 5px 10px;
  background: @mantle;
  /* background: alpha(currentColor, 0.05); */
  border-radius: 4px;
}
.widget-menubar > box > revealer > box > button {
  background: transparent;
  min-height: 50px;
  padding: 0px;
  margin: 5px;
}

/* Buttons grid */
.widget-buttons-grid {
  /* background-color: @theme_bg_color; */
  background-color: @mantle;
  /* border: 1px solid @surface1; */
  border-top: none;
  border-bottom: none;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  padding: 5px;
  border-radius: 0px;
}

.widget-buttons-grid > flowbox > flowboxchild {
  background: @mantle;
  /* background: alpha(currentColor, 0.05); */
  border-radius: 4px;
  min-height: 50px;
  min-width: 85px;
  margin: 5px;
  padding: 0px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: transparent;
  border-radius: 4px;
  margin: 0px;
  border: none;
  box-shadow: none;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @mantle;
  /* background: alpha(currentColor, 0.1); */
}

/* Backlight and volume widgets */
.widget-backlight,
.widget-volume {
  background-color: @crust;
  /* background-color: @theme_bg_color; */
  /* border: 1px solid @surface1; */
  border-top: none;
  border-bottom: none;
  font-size: 13px;
  font-weight: 600;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}
.widget-volume > box {
  background: @mantle;
  /* background: alpha(currentColor, 0.05); */
  border-radius: 4px;
  margin: 5px 10px 5px 10px;
  min-height: 50px;
}
.widget-volume > box > label {
  min-width: 50px;
  padding: 0px;
}
.widget-volume > box > button {
  min-width: 50px;
  box-shadow: none;
  padding: 0px;
}
.widget-volume > box > button:hover {
  /* background: alpha(currentColor, 0.05); */
  background: @surface0;
}
.widget-volume > revealer > list {
  background: @mantle;
  /* background: alpha(currentColor, 0.05); */
  border-radius: 4px;
  margin-top: 5px;
  padding: 0px;
}
.widget-volume > revealer > list > row {
  padding-left: 10px;
  min-height: 40px;
  background: transparent;
}
.widget-volume > revealer > list > row:hover {
  background: transparent;
  box-shadow: none;
  border-radius: 4px;
}
.widget-backlight > scale {
  background: @mantle;
  /* background: alpha(currentColor, 0.05); */
  border-radius: 0px 4px 4px 0px;
  margin: 5px 10px 5px 0px;
  padding: 0px 10px 0px 0px;
  min-height: 50px;
}
.widget-backlight > label {
  background: @surface0;
  /* background: alpha(currentColor, 0.05); */
  margin: 5px 0px 5px 10px;
  border-radius: 4px 0px 0px 4px;
  padding: 0px;
  min-height: 50px;
  min-width: 50px;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 4px;
  background: @base;
  /* background: @theme_bg_color; */
  /* border: 1px solid @surface1; */
}
.widget-dnd > switch:checked {
  background: @insensitive_base_color;
}
.widget-dnd > switch slider {
  background: @base;
  /* background: @theme_bg_color; */
  border-radius: 12px;
}

/* Toggles */
.toggle:checked {
  background: @surface1;
  /* background: @theme_selected_bg_color; */
}
/*.toggle:not(:checked) {
    color: rgba(128, 128, 128, 0.5);
}*/
.toggle:checked:hover {
  background: @surface2;
  /* background: alpha(@theme_selected_bg_color, 0.75); */
}

/* Sliders */
scale {
  padding: 0px;
  margin: 0px 10px 0px 10px;
}

scale trough {
  border-radius: 4px;
  background: @surface0;
  /* background: alpha(currentColor, 0.1); */
}

scale highlight {
  border-radius: 5px;
  min-height: 10px;
  margin-right: -5px;
}

scale slider {
  margin: -10px;
  min-width: 10px;
  min-height: 10px;
  background: transparent;
  box-shadow: none;
  padding: 0px;
}
scale slider:hover {
}

.right.overlay-indicator {
  all: unset;
}
