@import "./style/colors.css";
@import "./style/control-center.css";
@import "./style/mpris.css";
@import "./style/notifications.css";
@import "./style/buttons-grid.css";
@import "./style/volume.css";
@import "./style/slider.css";
@import "./style/dnd.css";
@import "./style/title.css";
* {
  font-family: "Product Sans";
  background-clip: border-box;
}

label {
  color: @text;
}

.close-button {
  background: transparent;
  color: transparent;
}
