@import "macchiato.css";

/* ================ presets ================ */
* {
  /* NOTE: requires this font */
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

%component {
  border-radius: 17px;
  background-color: @surface1;
}

%bordered-component {
  @extend %component;
  border: 3px solid @lavender;
}

/* ================ modules ================ */

/* ============= modules-right ============= */
$spacing: 15px;

.modules-right {
  border-radius: 15px;
  padding: 0 10px;
  & > widget > label {
    padding: 0 10px;
  }
  & > widget:not(:first-child) > label {
    margin-left: $spacing;
  }
}

/* ----- drawer groups ----- */
.modules-right > widget > box {
  margin-left: $spacing;
  & > :not(.drawer) > label,
  & > .drawer > box > widget > label {
    padding: 0 10px;
    &:hover {
      background-color: @surface2;
    }
    border-radius: 50%;
  }
  & > :not(.drawer) > label {
    /* header */
  }
  & > .drawer > box > widget > label {
    margin-right: 5px;
    /* body */
  }
}
#power {
  @extend %bordered-component;
}
#custom-notification {
  @extend %bordered-component;
  &.none {
    padding-right: 12px;
  }
  &.notification {
    padding-left: 12px;
  }
  &.dnd-notification {
    padding-right: 12px;
  }
  &.dnd-none {
    padding-right: 17px;
  }
}

#language {
  @extend %bordered-component;
  color: @lavender;
}

#pulseaudio {
  @extend %bordered-component;
  color: @maroon;
  &.muted {
    color: @text;
  }
}

#network {
  @extend %bordered-component;
  color: @yellow;
}

#temperature {
  @extend %bordered-component;
  color: @sky;
}

@keyframes blink {
  to {
    color: #000000;
  }
}
#battery {
  color: @green;
  &.charging,
  &.plugged {
    color: @sapphire;
  }
  &.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    /* Using steps() instead of linear as a timing function to limit cpu usage */
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

#clock {
  @extend %bordered-component;
  color: @flamingo;
}

label:focus {
  background-color: #000000;
}

/* ============ modules-center ============= */

.modules-center {
  background-color: @base;
  border-radius: 15px;
  padding: 0 10px;
  @extend %bordered-component;
}

/* ---- workspaces ---- */

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  &.active {
    color: @lavender;
    box-shadow:
      inset 0 -2px @lavender,
      inset 0 2px @lavender;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  &.urgent {
    background-color: #eb4d4b;
  }
}
/* ============ modules-left ============== */
.modules-left {
  padding: 0 20px;
}

#taskbar {
  background-color: @base;
  padding: 0px;
  border-radius: 15px;
  font-weight: normal;
  font-style: normal;
  opacity: 0.8;
  // border: 3px solid white;
}

#window {
  color: @rosewater;
}
