@import "macchiato.css";
/* ================ presets ================ */
* {
  /* NOTE: requires this font */
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* ----- drawer groups ----- */
.modules-right > widget > box > :not(.drawer) > label, .modules-right > widget > box > .drawer > box > widget > label {
  padding: 0 10px;
  margin: 3px 0;
  border-radius: 50%;
}
.modules-right > widget > box > :not(.drawer) > label:hover, .modules-right > widget > box > .drawer > box > widget > label:hover {
  background-color: @surface2;
}
.modules-right > widget > box > :not(.drawer) > label {
  /* header */
}
.modules-right > widget > box > .drawer > box > widget > label {
  /* body */
}

/* ================ modules ================ */
/* ============= modules-right ============= */
.modules-right {
  background-color: @base;
  border-radius: 15px;
  padding: 0 10px;
}
.modules-right > widget > label {
  padding: 0 10px;
}

#language {
  color: @lavender;
}

#pulseaudio {
  color: @maroon;
}
#pulseaudio.muted {
  color: @text;
}

#network {
  color: @yellow;
}

#temperature {
  color: @sky;
}

@keyframes blink {
  to {
    color: #000000;
  }
}
#battery {
  color: @green;
}
#battery.charging, #battery.plugged {
  color: @sapphire;
}
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  /* Using steps() instead of linear as a timing function to limit cpu usage */
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: @flamingo;
}

label:focus {
  background-color: #000000;
}

/* ============ modules-center ============= */
.modules-center {
  background-color: @base;
  border-radius: 15px;
  padding: 0 20px;
}

.modules-center {
  padding: 0 10px;
}

/* ---- workspaces ---- */
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
#workspaces button.focused {
  background-color: @lavender;
  box-shadow: inset 0 -3px #ffffff;
}
#workspaces button.active {
  color: @lavender;
  box-shadow: inset 0 -2px @lavender;
}
#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* ============ modules-left ============== */
.modules-left {
  padding: 0 20px;
}

#taskbar {
  background-color: @base;
  padding: 0px;
  border-radius: 15px;
  font-weight: normal;
  font-style: normal;
  opacity: 0.8;
}

#window {
  color: @rosewater;
}

/*# sourceMappingURL=style.css.map */
