[Desktop Entry]
Name=Neovim
GenericName=Text Editor
Comment=Edit text files
Exec=wezterm start -- nvim %F
Terminal=false
Type=Application
Icon=nvim
Categories=Utility;TextEditor;
MimeType=text/plain;
Keywords=Text;Editor;

